<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="iTravelsEntities" connectionString="metadata=res://*/iTravelsDB.csdl|res://*/iTravelsDB.ssdl|res://*/iTravelsDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=iTravels;persist security info=True;user id=sa;password=password;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>